@font-face {
    font-family: Saira;
    src: url('fonts/saira/Saira-VariableFont_wdth\,wght.ttf');
}
:root {
    --norm-height: 750px;
    --moves-width: 400px;

    --default-font: Saira;
}

*{
    color: aliceblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    background: darkslategray;
    font-family: var(--default-font);

    gap: 15px;
}

/*grid and board stylings*/

#outerGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: var(--norm-height);
    width: var(--norm-height);

    border: thick solid black;
    border-radius: 5px;
}

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 12.5%;
    width: 100%;
}

.cell, .cellColoured {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 100%;
    width: 12.5%;

    border: thin solid black;

    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%);
    background-size: 75%;
}

.cell:hover, .cellColoured:hover {
    background-color: lightpink;
    filter: drop-shadow(0 0 0.75rem lightpink);
}

.cell {
    background-color: burlywood;
}

.cellColoured {
    background-color: #80471C;
}

/*Moves container stylings*/

#moveContainer {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;

    width: var(--moves-width);
    height: var(--norm-height);

    border: thick solid black;
    border-radius: 5px;
}

#titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: 10%;
    width: 100%;

    border: thin solid black;
}
#titleBox > h1 {
    font-size: 4em;
}

#optionsBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;

    height: var(--moves-width);
    width: 10%;

    border: thick solid black;
    border-radius: 5px;

 
}

#moveCounterBox {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    height: 50%;
    width: 100%;

}

#moveCounterBox > h1 {
    font-size: 1em;
}

#mainMoveContent {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-direction: column-reverse;

    height: 100%;
    width: 100%;

    overflow-y: scroll;
}

.moveText {
    display: flex;
    justify-content: center;
    text-align: center;

    flex-direction: row-reverse;

    font-size: 1rem;
}
.figurine {
    height: 50px;
    width: 50px;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#colorTitles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;

    width: 100%;
    height: 10%;

    text-align: center;
}

#buttonsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 50%; 
    width: 100%;

    gap: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center; 
    
    width: 90%;
    height: 25%;

    border: thin solid black;
    border-radius: 15px;

    background-color: black;
}

.buttons:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
    background-color: crimson;
}
.buttons > p {
    font-size: 1em;
}


